@model LoginApp1.Models.Account.AppRoleView


<div class="form-horizontal">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
        <table id="tbl_userroles" class="table-bordered table-striped">
            <thead>
                <tr>
                    <td>User Id</td>
                    <td>User Name</td>
                    <td>User Desc</td>
                    <td>Action</td>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>User Id</td>
                    <td>User Name</td>
                    <td>User Desc</td>
                    <td>Action</td>
                </tr>
            </tbody>

        </table>
        <div class="col-xs-2 form-group">
            <input type="submit" value="Save Changes" class="btn btn-default btn-primary" />
        </div>

        <br style="clear:both;" />
        <hr />
    </div>
    <div class="col-xs-1"></div>
    <br style="clear:both;" />
</div>

